.icon {
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

em {
    font-style: normal;
    color: #f73131;
}

.has-text-vip {
    color: #ff8b4f;
}

.container {
    margin: 2rem auto 1rem auto;
    /*min-height: calc(100vh - 13.25rem);*/
}

nav .container {
    margin: auto;
    min-height: 0;
}

.content ol {
    margin-left: 1rem;
}

.modal-width {
    width: 60%;
}

.information {
    margin: 1rem auto;
}

.ab-bottom-time {
    position: absolute;
    bottom: -1px;
}

.ab-bottom-div {
    line-height: 14px;
    position: absolute;
    bottom: -2px;
    left: 5rem;
    width: 55%;
}

.ab-bottom-div .is-tag-bordered {
    margin: 0 .2rem !important;
}

.ab-bottom-read {
    position: absolute;
    bottom: -1px;
    right: .5rem
}

.box-shadow {
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    margin-top: .75rem
}

.dropdown-menu {
    background-color: #fff;
    border-radius: 4px;
    padding: .5rem;
    min-width: 7rem;
}

.full-width {
    width: 100%;
}

.columns {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.content pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 100%;
    overflow: hidden;
}

.head-title {
    border-left: .3rem solid #3273dc;
    padding-left: .3rem;
    display: block;
    margin: .3rem 0;
}

.-head-title {
    border-left: .3rem solid #3273dc;
    padding-left: .3rem;
    display: block;
    margin: .3rem 0;
}

.null-head-title {
    border-left: .3rem solid #3273dc;
    padding-left: .3rem;
    display: block;
    margin: .3rem 0;
}

.is-default-head-title {
    border-left: .3rem solid #3273dc;
    padding-left: .3rem;
    display: block;
    margin: .3rem 0;
}

.is-red-head-title {
    border-left: .3rem solid #f9484c;
    padding-left: .3rem;
    display: block;
    margin: .3rem 0;
}

.is-green-head-title {
    border-left: .3rem solid #53cb3e;
    padding-left: .3rem;
    display: block;
    margin: .3rem 0;
}

.is-orange-head-title {
    border-left: .3rem solid #ff8b3b;
    padding-left: .3rem;
    display: block;
    margin: .3rem 0;
}

.is-blue-head-title {
    border-left: .3rem solid #1b6bd7;
    padding-left: .3rem;
    display: block;
    margin: .3rem 0;
}

.is-purple-head-title {
    border-left: .3rem solid #8892fc;
    padding-left: .3rem;
    display: block;
    margin: .3rem 0;
}

.toolbar {
    position: fixed;
    bottom: 10rem;
    right: 2rem;
    z-index: 30;
}

.tool-item {
    height: 2.5rem;
    width: 2.5rem;
    padding: .5rem;
    margin-bottom: .1rem;
    /*background-color: #f9484c;*/
    background-color: #3273dc;
}

.kj-btn {
    border-radius: 50%;
    text-align: center;
    height: 55px;
    width: 55px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.kj-text {
    font-size: 14px;
    color: #363636;
}

.bread-margin {
    margin-bottom: 1rem !important;
}

.outline-fixed {
    position: fixed;
    width: 200px;
}

.webkit-1 {
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /*white-space: pre-line;*/
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.webkit-2 {
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /*white-space: normal;*/
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.webkit-6 {
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /*white-space: pre-line;*/
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.webkit-content {
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /*white-space: normal;*/
    -webkit-line-clamp: 2;
    color: #7a7a7a;
    font-size: 15px;
    -webkit-box-orient: vertical;
}

.webkit-3 {
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /*white-space: normal;*/
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.content h1 {
    line-height: 2.2rem;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: .5rem;
}

.content h2 {
    line-height: 2rem;
    font-weight: 600;
    font-size: 1.7rem;
    margin-bottom: .32rem;
}

.content h3 {
    line-height: 1.8rem;
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: .32rem;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: #3273dc;
    margin-top: -.375em;
    right: .3em;
}

.p-div {
    border: 1px solid #e8edf2;
    border-left: 0;
    border-bottom: 0;
    transition: box-shadow .3s;
}

.p-imgs {
    height: 128px;
    width: 128px;
    margin: .6rem auto;
    border-radius: .25rem;
}

.p-img {
    margin: .6rem auto;
}

.p-img img, .panel-block img {
    border-radius: .25rem;
}

.img-radius {
    border-radius: .25rem;
}

.popular .content {
    margin-left: .5rem;
}

.p-name {
    font-size: 1rem;
    color: #4a4a4a;
    margin: .6rem 0;
}

.p-price {
    color: #f14668;
    font-size: 0.8rem;
    margin: .5rem 0;
}

.honesty-head {
    height: 3rem;
    line-height: 3rem;
    padding-left: 24px;
    font-size: 16px;
    font-weight: 600;
    background: #f1f4f7;
    /*background: #f1f4f7 url(https://static.gcimg.net/i/201804/GTcEfXfFKw.png) no-repeat 173px 5px;*/
}

.honesty-name {
    font-size: 14px;
    color: #262626;
}

.trades-name, .category-name {
    font-size: 1rem;
    color: #262626;
}

.trades-div, .category-div {
    padding: .5rem 0;
    font-size: 14px;
    border-bottom: 2px solid #f5f5f5;
}

.trades-right, .category-right {
    width: 60%;
    margin: .3rem 0 0 .5rem;
}

.trades-info, .category-info {
    margin-left: 1rem;
    color: #4a4a4a !important;
    display: inline-block;
}

.trades-info .tag, .news-info .tag {
    margin: .2rem .5rem 0 0;
}

.tag-bordered {
    line-height: 14px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
}

.is-tag-bordered {
    color: #c1c1c1 !important;
    background-color: white !important;
    border: 1px solid #d8d8d8;
    border-radius: 290486px !important;
    height: auto !important;
    padding: 0 .2rem;
    margin: .2rem;
    white-space: nowrap;
    justify-content: center;
    display: inline-flex;
    align-items: center;
}

.is-tag-bordered:hover, .ab-bottom-div .is-tag-bordered:hover {
    border: 1px solid #46a0fc;
    color: #46a0fc !important;
    text-decoration: none;
}

.trades-info .is-bordered, .news-info .is-bordered {
    background-color: white;
    border: 1px solid #d8d8d8;
    color: #c1c1c1 !important;
    height: auto !important;
    padding: 0 .2rem;
}

.trades-info .is-bordered:hover, .news-info .is-bordered:hover {
    border: 1px solid #46a0fc;
    color: #46a0fc !important;
    text-decoration: none;
}

.trades-info .tags-mrg {
    margin-top: .2rem;
}

.news-info {
    padding: .5rem
}

.trade-info {
    background-color: #f9f9f9;
    margin: .5rem auto;
    padding: .5rem;
}

.trade-info .tag-bordered, .new-info .tag-bordered {
    line-height: 22px;
}

.trade-info .is-tag-bordered, .new-info .is-tag-bordered {
    padding: 0 .5rem;
    font-size: 13px;
}

.index-top {
    display: inline-block;
    background-color: #f55424;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin-right: .5rem;
}

.index-num {
    display: inline-block;
    background-color: #DDDDDD;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin-right: .5rem;
}

.icon-btn {
    background-image: linear-gradient(#4667cd, #68b6fb);
    margin: .5rem .8rem .2rem;
    padding: .2rem;
    border-radius: .2rem
}

.nav-top {
    display: flex;
    min-height: 1rem;
    max-height: 1.5rem;
    background-color: #f5f5f5;
    border-bottom: solid 1px #D8D8D8;
    margin-bottom: 0 !important;
    padding: .4rem 0;
    font-size: 0.75rem;
    width: 100%;
}

.nav-welcome {
    margin: 0 1rem 0 2rem;
}

.cus-td {
    width: 10rem;
    text-align: center !important;
}

.column-relative {
    position: relative;
    min-height: 13rem;
}

.ul-absolute-left {
    position: absolute;
    top: .75rem;
    bottom: .75rem;
    right: 0rem;
    left: .75rem;
    padding: 0 .75rem .75rem 0;
    overflow: hidden;
}

.ul-absolute-right {
    position: absolute;
    top: .75rem;
    bottom: .75rem;
    right: .75rem;
    left: 0rem;
    padding: 0 0 .75rem .75rem;
    overflow: hidden;
}

.middle-content {
    height: 110px;
    margin-top: -7rem;
    justify-content: center;
}

.info-list {
    text-align: center;
    margin-top: 2rem
}

.news-img {
    height: 128px !important;
    border-radius: .25rem;
}

.img-pt {
    padding-top: .5rem;
}

.recommend-img {
    margin: .2rem auto;
    border-radius: .25rem;
}

figure img {
    border-radius: .25rem;
}

.new-img {
    width: 100%;
    height: 20rem;
    border-radius: .25rem;
}

.classify-list-bg {
    background-color: #f7f9fa;
    padding: .75rem 0;
}

.classify-bg {
    height: 100%;
    text-align: center;
}

.classify-title {
    padding: 3rem 0 .3rem 0;
    font-size: 1.5rem;
    color: #242424;
}

.classify-middle {
    padding: .75rem 0;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
}

.classify-grand {
    font-size: 15px;
    font-weight: 700 !important;
    color: #4a4a4a;
}

.classify-icon {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.classify-icon svg {
    width: 5rem;
    height: 5rem;
}

.sincerity {
    padding: .5rem;
    display: block;
}

.ul-absolute-left .tag {
    margin: 0 !important;
    padding: 0 .2rem !important;
}

.form-title {
    display: inline-block;
    padding: .2rem 0;
}

.ck-content {
    min-height: 30vh;
}

.ul-absolute-left > ul > li:not(:first-child) {
    margin-top: .3rem;
}

.list-bottom {
    height: 1px;
    width: 100%;
    margin: .5rem 0 0;
    background-color: #F3F0EB;
}

.btn-control {
    background-color: #f7f9fa;
    padding: .2rem .2rem .5rem;
    text-align: center;
    font-size: 0.75rem;
}

.btn-control > a {
    display: inline-block;
    font-size: .75rem;
}

.tab-list {
    position: relative;
    margin-top: .5rem;
}

.tab-item .tab-label {
    position: relative;
    display: block;
    width: 100%;
    font-size: .75rem;
    text-align: center;
    border-bottom: 1px solid #ffffff;
}

.tab-box {
    /* 设置绝对定位方便定位相对于tab-list栏的位置，同时为了可以使用z-index属性 */
    position: absolute;
    left: 0;
    top: 1.5rem;
    height: 10rem;
    padding: 0 .5rem;
    background: #fff;
    font-size: 14px;
    width: 100%;
    /* 设置层级最低方便选中状态遮挡 */
    z-index: 0;
}

.tab-box a {
    display: inline-block;
}

/* 用绝对定位使按钮脱离文档流，透明度设置为0将其隐藏 */
input[type="radio"] {
    position: absolute;
    opacity: 0;
}

/* 利用选择器实现  tab切换 */

/* 当radio为选中状态时设置它的tab-label兄弟元素的属性 */
input[type="radio"]:checked + .tab-label {
    /* 为了修饰存在的边框背景属性 */
    border-bottom: 1px solid #3273dc;
    color: #3273dc;
    /* 为了修饰存在的层级使下边框遮挡下方div的上边框 */
    z-index: 10;
}

/* 当radio为选中状态时设置与它同级的tab-box元素的显示层级 */
input[type="radio"]:checked ~ .tab-box {
    /* 选中时提升层级，遮挡其他tab页达到选中切换的效果 */
    z-index: 5;
}

@media screen and (min-width: 1408px) {
    .container:not(.is-max-desktop):not(.is-max-widescreen) {
        max-width: 1152px;
    }

    .icon-btn {
        margin: .5rem 1rem .2rem;
    }
}

@media screen and (min-width: 1023px) {
    /*.container:not(.is-max-desktop):not(.is-max-widescreen) {*/
    /*    max-width: 1152px;*/
    /*}*/
    .icon-btn {
        margin: .5rem .7rem .2rem;
    }
}

@media screen and (max-width: 1023px) {
    .webkit-content {
        -webkit-line-clamp: 3;
    }

    .icon-btn {
        margin: .5rem .5rem .2rem;
    }

    .nav-welcome {
        margin: 0 1rem 0 .75rem;
    }

    .is-red .navbar-start a, .is-green .navbar-start a, .is-orange .navbar-start a, .is-blue .navbar-start a, .is-purple .navbar-start a {
        color: #000000;
    }

    .modal-width {
        width: 100%;
    }
}

.modal-card-head, .modal-card-foot {
    padding: .5rem 20px;
}

.map-search {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30%;
    z-index: 1001;
}

.flex-bottom {
    position: fixed;
    margin-bottom: 0 !important;
    bottom: 0px;
    width: 100%;
    padding-top: .3rem;
    padding-bottom: calc(0.1rem + env(safe-area-inset-bottom));

    background-color: #fff;
    border-top: 1px solid #d8d8d8;
    z-index: 9999;
}

.flex-bottom > a {
    color: #7a7a7a;
}

.is-logout {
    color: #f14668;
}

.is-red {
    background-color: #f9484c;
}

.is-red .nav-top {
    background-color: #f9484c;
    border-bottom: 0;
}

.is-green {
    background-color: #53cb3e;
}

.is-green .nav-top {
    background-color: #53cb3e;
    border-bottom: 0;
}

.is-orange {
    background-color: #ff8b3b;
}

.is-orange .nav-top {
    background-color: #ff8b3b;
    border-bottom: 0;
}

.is-blue {
    background-color: #1b6bd7;
}

.is-blue .nav-top {
    background-color: #1b6bd7;
    border-bottom: 0;
}

.is-purple {
    background-color: #8892fc;
}

.is-purple .nav-top {
    background-color: #8892fc;
    border-bottom: 0;
}

.is-red a, .is-green a, .is-orange a, .is-blue a, .is-purple a {
    color: #ffffff;
}

.is-red .is-organ:hover, .is-green .is-organ:hover, .is-orange .is-organ:hover, .is-blue .is-organ:hover, .is-purple .is-organ:hover {
    color: #ffffff;
}

.is-red .is-logout, .is-green .is-logout, .is-orange .is-logout, .is-blue .is-logout, .is-purple .is-logout {
    color: #ffffff;
}

.is-red .nav-welcome, .is-green .nav-welcome, .is-orange .nav-welcome, .is-blue .nav-welcome, .is-purple .nav-welcome {
    color: #ffffff;
}

@media screen and (max-width: 769px) {
    .is-red .navbar-start a, .is-green .navbar-start a, .is-orange .navbar-start a, .is-blue .navbar-start a, .is-purple .navbar-start a {
        color: #000000;
    }

    .map-search {
        width: 50%;
    }

    .modal-card {
        height: 100vh;
        max-height: 100vh;
    }

    .modal-card-head, .modal-card-foot {
        border-radius: 0;
    }

    .tile.is-parent {
        padding-right: 0;
    }

    .tile.is-ancestor {
        margin-right: 0;
    }

    .content h1 {
        line-height: 1.5rem;
        font-weight: 700;
        font-size: 1.3rem;
        margin-bottom: .5rem;
    }

    .content h2 {
        line-height: 1.4rem;
        font-weight: 700;
        font-size: 1.2rem;
        margin-bottom: .32rem;
    }

    .content h3 {
        line-height: 1.3rem;
        font-weight: 700;
        font-size: 1.1rem;
        margin-bottom: .32rem;
    }

    .information {
        margin: 2rem auto;
    }

    .nav-welcome {
        margin: 0 1rem 0 .75rem;
    }

    .classify-middle {
        padding: .75rem 0 0 0;
    }

    .classify-title {
        padding: 1rem 0;
    }

    .trades-info, .category-info {
        margin-left: 0;
    }
}


/**
loading 样式
 */
.loading-body {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    /*  flex-start 	元素位于容器的开头  flex-end 元素位于容器的结尾*/
    /* 元素位于容器的中心 */
    align-items: center;
    filter: alpha(opacity=60);
    opacity: 0.5;
    -moz-opacity: 0.5;
    background: rgba(0, 0, 0, .5);
    display: flex;
    text-align: center;
    justify-content: center;
    z-Index: 1001;
}

.loading {
    width: 80px;
    height: 40px;
    margin: 0 auto;
}

.loading span {
    display: inline-block;
    width: 8px;
    height: 100%;
    border-radius: 4px;
    background: lightblue;
    -webkit-animation: load 1s ease infinite;
}

@-webkit-keyframes load {
    0%, 100% {
        height: 40px;
        background: lightblue;
    }
    50% {
        height: 70px;
        margin: -15px 0;
        background: lightyellow;
    }
}

.loading span:nth-child(2) {
    -webkit-animation-delay: 0.2s;
}

.loading span:nth-child(3) {
    -webkit-animation-delay: 0.4s;
}

.loading span:nth-child(4) {
    -webkit-animation-delay: 0.6s;
}

.loading span:nth-child(5) {
    -webkit-animation-delay: 0.8s;
}


/**登陆**/
.lgn-out {
    margin: .3rem 0;
}

.lgn-in, .lgn-up, .lgn-out {
    cursor: pointer;
}

.login {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    /*  flex-start 	元素位于容器的开头  flex-end 元素位于容器的结尾*/
    /* 元素位于容器的中心 */
    align-items: center;
    /*filter: alpha(opacity=60);*/
    /*opacity:0.5; -moz-opacity:0.5;*/
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    z-index: 2001;
}

.login .body {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    position: fixed;
    overflow: hidden;
    width: 768px;
    height: 480px;
    z-index: 2002;
}

.login .form {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

.login form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    outline: none;
}

.login p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 10px;
}

.login .button {
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background: #ff4b2b;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.login .button:hover {
    color: #fff;
    border: 1px solid #fff;
}

.login .button:active {
    transform: scale(.95);
}

.login .button:focus {
    outline: 0;
    border-color: #fff;
    color: #fff;
}

.login .send_code {
    width: 18%;
    padding: .75rem .5rem;
    display: inline-block;
}

.login .verify_code {
    width: 80%;
    display: inline-block;
}

.login h1 {
    font-size: 2em;
    font-weight: bold;
}

.login .container-text {
    margin: 5px 0;
    font-size: 14px;
    text-align: center;
    color: #ff4b2b;
    width: 100%;
}

.login .sign-in {
    left: 0;
    width: 55%;
    z-index: 2;
}

.login .overlay-container {
    position: absolute;
    top: 0;
    left: 55%;
    width: 45%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
}

.login .overlay {
    background: linear-gradient(to right, #ff4b2b, #ff416c) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.login .overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    /*text-align: center;*/
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.login .overlay-right {
    right: 0;
}

.login .overlay-left {
    transform: translateY(-20%);
}

.login .ghost {
    background: transparent;
    border-color: #fff;
}

.login .is-close {
    padding: 13px;
    position: absolute;
    top: .5rem;
    right: .5rem;
}

@media screen and (max-width: 769px) {
    .toolbar {
        right: .5rem;
    }

    .classify-list-bg {
        padding: 0 0 .75rem 0;
    }

    .login .body {
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }

    .login form {
        padding: 0 3rem;
    }

    .login .sign-in {
        width: 100%;
    }

    .login .overlay-container {
        left: 0;
        width: 100%;
        background: linear-gradient(to right, #ff4b2b, #ff416c) no-repeat 0 0 / cover;
        z-index: 0;
    }

    .login .overlay {
        left: 0;
        width: 100%;
    }

    .login .overlay-panel {
        width: 100%;
    }

    .login .is-close {
        padding: 20px;
        position: relative;
        right: 0;
        top: 2rem;
    }

    .middle-content {
        margin-top: .5rem;
    }

    .news-img {
        height: 200px !important;
    }

    .new-img {
        width: 100%;
        height: 10rem
    }

    .modal-width {
        width: 100%;
    }
}


/**
contacts 页面
 */
/*.content-window-card {*/
/*    position: relative;*/
/*    box-shadow: none;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    width: auto;*/
/*    padding: 0;*/
/*}*/

/*.content-window-card p {*/
/*    height: 2rem;*/
/*}*/

/*.custom-info {*/
/*    border: solid 1px silver;*/
/*}*/

/*div.info-top {*/
/*    position: relative;*/
/*    background: none repeat scroll 0 0 #F9F9F9;*/
/*    border-bottom: 1px solid #CCC;*/
/*    border-radius: 5px 5px 0 0;*/
/*}*/

/*div.info-top div {*/
/*    display: inline-block;*/
/*    color: #333333;*/
/*    font-size: 14px;*/
/*    font-weight: bold;*/
/*    line-height: 31px;*/
/*    padding: 0 10px;*/
/*}*/

/*div.info-top img {*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    right: 10px;*/
/*    transition-duration: 0.25s;*/
/*}*/

/*div.info-top img:hover {*/
/*    box-shadow: 0px 0px 5px #000;*/
/*}*/

/*div.info-middle {*/
/*    font-size: 12px;*/
/*    padding: 10px 6px;*/
/*    line-height: 20px;*/
/*}*/

/*div.info-bottom {*/
/*    height: 0px;*/
/*    width: 100%;*/
/*    clear: both;*/
/*    text-align: center;*/
/*}*/

/*div.info-bottom img {*/
/*    position: relative;*/
/*    z-index: 104;*/
/*}*/

/*.info-middle img {*/
/*    float: left;*/
/*    margin-right: 6px;*/
/*}*/

/*.info-title {*/
/*    background: linear-gradient(*/
/*            90deg, rgba(114, 179, 240, .4), #fff 24%);*/
/*    padding: .2rem;*/
/*    border-bottom: 1px solid #ddd;*/
/*    width: 100%;*/
/*    display: block;*/
/*}*/